{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="header-action" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
    <a href="{% url 'music_list' %}" class="btn-secondary">
        Retour a la bibliotheque
    </a>
    <div class="action-bar" style="display: flex; gap: 10px;">
        <a href="{% url 'music_edit' music.pk %}" class="btn-primary">
            Modifier
        </a>
        <a href="{% url 'music_delete' music.pk %}" class="btn-danger">
            Supprimer
        </a>
    </div>
</div>

<div class="detail-hero" style="margin-top: 20px; display: flex; flex-direction: column; gap: 10px; margin-bottom: 20px;">
    {% if music.metadonnees.titre %}
        <h1 class="detail-title">{{ music.metadonnees.titre }}</h1>
        <p class="detail-artist">{% if music.metadonnees.artiste %}{{ music.metadonnees.artiste }}{% elif music.metadonnees.artiste_album %}{{ music.metadonnees.artiste_album }}{% else %}Artiste Inconnu{% endif %}</p>
    {% else %}
        <h1 class="detail-title">{{ music.fichier.name }}</h1>
        <p class="detail-artist">Artiste Inconnu</p>
    {% endif %}
    
    <p class="detail-meta" style="color: var(--text-sec);">
        Ajoute le {{ music.date_upload|date:"d M Y H:i" }} • 
        {% if music.duree_secondes %}{{ music.duree_secondes }} secondes{% else %}Duree inconnue{% endif %}
    </p>
    
    <button class="btn-primary" style="margin-top: 15px; width: fit-content;" onclick="playTrack('{{ music.fichier.url }}', '{% if music.metadonnees.titre %}{{ music.metadonnees.titre|escapejs }}{% else %}{{ music.fichier.name|escapejs }}{% endif %}', '{% if music.metadonnees.artiste %}{{ music.metadonnees.artiste|escapejs }}{% elif music.metadonnees.artiste_album %}{{ music.metadonnees.artiste_album|escapejs }}{% else %}Artiste Inconnu{% endif %}')">
        LECTURE
    </button>
</div>

<div class="card">
    <h2>Donnees brutes (Metadonnees)</h2>
    <div class="json-viewer" style="margin-top: 10px;">
        <pre><code>{{ meta_json }}</code></pre>
    </div>
</div>
{% endblock %}
