{% extends 'base.html' %}

{% block content %}
<div class="header-action" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
    <h1>{{ title }}</h1>
    <a href="{% url 'music_list' %}" class="btn-secondary">
        Annuler
    </a>
</div>

<div class="card form-wrapper">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div style="margin-top: 20px;">
            <button type="submit" class="btn-primary">Enregistrer</button>
        </div>
    </form>
</div>
{% endblock %}
