{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="header-action" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
    <a href="{% url 'playlist_list' %}" class="btn-secondary">
        Retour
    </a>
    <div class="action-bar">
        <a href="{% url 'playlist_export_zip' playlist.pk %}" class="btn-primary">
            Telecharger en ZIP
        </a>
    </div>
</div>

<div class="detail-hero" style="margin-top: 20px; display: flex; flex-direction: column; gap: 10px;">
    <h1 class="detail-title">{{ playlist.nom }}</h1>
    <p class="detail-artist">Par {{ playlist.utilisateur.username }}</p>
    <p class="detail-meta">
        {{ playlist.musiques.count }} titres • 
        {{ total_minutes }} min {% if total_remainder_seconds %}{{ total_remainder_seconds }} sec{% endif %}
    </p>
</div>

<div class="music-list-container">
    {% for track in tracks %}
    <div class="music-row">
        <div class="col-title">
            <span class="track-name">{% if track.fichier_mp3.metadonnees.titre %}{{ track.fichier_mp3.metadonnees.titre }}{% else %}{{ track.fichier_mp3.fichier.name }}{% endif %}</span>
            <span class="track-artist">{% if track.fichier_mp3.metadonnees.artiste %}{{ track.fichier_mp3.metadonnees.artiste }}{% elif track.fichier_mp3.metadonnees.artiste_album %}{{ track.fichier_mp3.metadonnees.artiste_album }}{% else %}Artiste Inconnu{% endif %}</span>
        </div>
        
        <div class="col-duration" style="margin-left: auto; margin-right: 20px;">
            {{ track.fichier_mp3.duree_secondes }}s
        </div>
        
        <div class="col-actions">
            <button class="action-btn" onclick="playTrack('{{ track.fichier_mp3.fichier.url }}', '{% if track.fichier_mp3.metadonnees.titre %}{{ track.fichier_mp3.metadonnees.titre|escapejs }}{% else %}{{ track.fichier_mp3.fichier.name|escapejs }}{% endif %}', '{% if track.fichier_mp3.metadonnees.artiste %}{{ track.fichier_mp3.metadonnees.artiste|escapejs }}{% elif track.fichier_mp3.metadonnees.artiste_album %}{{ track.fichier_mp3.metadonnees.artiste_album|escapejs }}{% else %}Artiste Inconnu{% endif %}')">
                Lire
            </button>
            <a href="{% url 'music_detail' track.fichier_mp3.pk %}" class="action-btn">Details</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
